<header class="masthead">
  <div class="container">
    <div class="intro-text">
      <div class="intro-lead-in">Welcome To CheckSeries!</div>

      <div *ngIf="currentUser ; then auth else notAuth"></div>


      <ng-template #auth>
        <div class="intro-heading text-uppercase">
          <h1>Hello again {{currentUser.username}}</h1>
          <a class="btn btn-primary btn-xl text-uppercase" (click)="logout()"><i class="fa fa-sign-out fa-lg" aria-hidden="true"></i>Log Out</a>
        </div>
      </ng-template>

      <ng-template #notAuth>
        <div class="intro-heading text-uppercase">
          <div class="intro-heading text-uppercase">Nice To Meet You . . .</div>
          <a class="btn btn-primary btn-xl text-uppercase" routerLink="login" style="margin-right: 5px;">Login</a>
          <a class="btn btn-primary btn-xl text-uppercase" routerLink="signup" style="margin-left: 5px;">Sign Up</a>
        </div>
      </ng-template>

    </div>
  </div>
</header>


<div class="container-fluid">
  <div class="row mt-5">
    <div class="col-12 d-flex justify-content-center text-uppercase mt-5">
      <h1>🔥 Most Popular TV Shows right now 🔥</h1>
    </div>


  </div>
  <hr>
  <div class="row">
    <div class="col-lg-4" *ngFor="let show of mostPopular">
      <app-card-tvshow-description [show]="show"></app-card-tvshow-description>

    </div>
  </div>
</div>
