<header class="masthead">
  <div class="container">
    <div class="intro-text">
      <div class="intro-lead-in">Welcome To CheckSeries!</div>

      <div class="intro-heading text-uppercase" *ngIf="authenticated ; then lmao else lmao2"></div>


      <ng-template #lmao>
        <h1>Hello again xxx</h1>
        <a class="btn btn-primary btn-xl text-uppercase" href="javascript:document.getElementById('logoutForm').submit()"><i class="fa fa-sign-out fa-lg" aria-hidden="true"></i>Log Out</a>
      </ng-template>

      <ng-template #lmao2>
        Nice To Meet You . . .
        <a class="btn btn-primary btn-xl text-uppercase" href="#" style="margin-right: 5px;">Login</a>
        <a class="btn btn-primary btn-xl text-uppercase" href="#" style="margin-left: 5px;">Sign Up</a>
      </ng-template>

    </div>
  </div>
</header>


<div class="container-fluid">
  <div class="row mt-5">
    <div class="col-12 d-flex justify-content-center text-uppercase mt-5">
      <h1>🔥 Most Popular TV Shows right now 🔥</h1>
    </div>


  </div>
  <hr>
  <div class="row" *ngFor="let show of shows">
    <div class="col-lg-4">
      <div class="card">
        <div class="card-title text-center mt-3">
          <h3>{{ show.name }}</h3>
        </div>
        <div class="row">
          <div class="col-sm-12 col-md-4 col-lg-12 d-flex justify-content-center">
            <img src="https://image.tmdb.org/t/p/w500/{{ show.backdrop_path }}"
                 style="width: 100%; height: 100%;">
          </div>
          <div class="card-body col-sm-0 col-md-8 col-lg-12">
            <div class="p-fixed-size">
              <p>
                {{ show.overview }}
              </p>
            </div>

            <div class="mt-4 d-flex justify-content-end mr-1">
              <a class="" href="#" style="font-size:20px">More about this show >></a>
            </div>
          </div>
        </div>


      </div>
    </div>
  </div>
</div>
