<div class="card" id="fitin">
  <div class="card-title text-center mt-3" >
    <h5>{{ show.name }}</h5>
  </div>
  <div class="row">
    <div class="col-sm-12 col-md-4 col-lg-12 d-flex justify-content-center">
      <img src="https://image.tmdb.org/t/p/w500/{{ show.backdrop_path }}"
           style="width: 100%; height: 100%;">
    </div>
    <div class="card-body col-sm-0 col-md-8 col-lg-12">
      <div class="p-fixed-size">
        <p>
          {{ show.overview }}
        </p>
      </div>

      <div class="d-flex justify-content-center mt-3" *ngIf="currentUser" style="height: 40px">
        <button class="btn btn-primary" (click)="followTVShow()" [ngStyle]="{'display': !following ? '': 'none'}">+ Follow</button>
      </div>

      <div class="mt-4 d-flex justify-content-end mr-1">
        <a class="" [routerLink]="['/tvshow', show.id]" style="font-size:20px">More about this show >></a>
      </div>
    </div>
  </div>
</div>
