<div class="container-fluid" style="margin-top: 150px;">
  <div class="wrap" style="margin-bottom: 30px">
      <form [formGroup]="searchForm" (ngSubmit)="onSubmit()" >
        <div class="form-group" class="search">
        <input type="text" class="searchTerm" formControlName="showName" placeholder="Search TV shows here (by name)">
        </div>
        <div class="form-group">
          <button [disabled]="loading" type="submit" class="searchButton">
            <i class="fa fa-search"></i>
          </button>
        </div>
      </form>
  </div>



  <div class="row">
    <div class="col-md-3" *ngFor="let show of tvShows" style="margin-bottom: 20px">
      <app-card-tvshow-description [show]="show"></app-card-tvshow-description>
    </div>
  </div>

  <div class="row d-flex justify-content-center">
    <a class="btn btn-primary btn-xl text-uppercase" style="margin-right: 5px; color: #fff" (click)="newTVShows('down')">Previous page</a>
    <a class="btn btn-primary btn-xl text-uppercase" style="margin-right: 5px; color: #fff" (click)="newTVShows('up')">Next page</a>
  </div>
</div>
